<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjua1BngxRp3xoZlwRuIlkdELD_FjyEjk</string>
	<key>GCM_SENDER_ID</key>
	<string>358908133893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled4</string>
	<key>PROJECT_ID</key>
	<string>object-detection-app-d59a7</string>
	<key>STORAGE_BUCKET</key>
	<string>object-detection-app-d59a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358908133893:ios:9774b7f0f9a55c8abb526c</string>
</dict>
</plist>